.contentStyle {
    font-size: 18px;
    color: #ffbd59;
    font-weight: bold;
  }
  
  .buttonStyle {
    background-color: #ffbd59;
    color: #4b0082;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: all 0.3s ease;
    margin-left: 10px;
  }
  
  .imageStyle {
    width: 75%;
    margin-right: 20%;
    height: auto;
  }
  
  .homeownerStyle {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .homeownerImageStyle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .switchContainerStyle {
    display: flex;
    align-items: center;
    margin-top: 50px;
    text-align: center;
  }
  
  .switchButtonStyle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switchSliderStyle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffbd59;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .switchSliderBeforeStyle {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #4b0082;
    transition: 0.4s;
    border-radius: 50%;
    transform: translateX(0);
  }
  
  .switchSliderBeforeStyle.translate {
    transform: translateX(26px);
  }
  
  .switchLabelStyle {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffbd59;
  }
  
  .commentSectionStyle {
    width: 80vw;
    margin: 20px auto;
    border: 1px solid #ffbd59;
    border-radius: 5px;
    padding: 10px;
    align-content: center;
  }
  
  .commentStyle {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ffbd59;
    border-radius: 5px;
  }
  
  .commentInputContainerStyle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .commentInputStyle {
    width: 30vw;
    padding: 10px;
    border: 1px solid #ffbd59;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
  }
  
  .commentButtonStyle {
    background-color: #ffbd59;
    color: #4b0082;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
  }
  
  .commentSectionScrollStyle {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #4b0082 #ffbd59;
  }
  
  .commentSectionScrollInnerStyle {
    scrollbar-width: thin;
    scrollbar-color: #4b0082 #ffbd59;
  }
  